ion-header {
    ion-toolbar {
        --background: rgb(31, 31, 31);
        font-weight: 900;
        text-shadow: 1px 1px 2px black; 
        color: white;
        display: flex;
        align-items: center;
    }
    ion-title {
        font-size: 1.8rem;
    }
}

ion-content {
    --background: linear-gradient(0deg, rgba(233,233,166,1) 0%, rgba(13,13,56,1) 52%);
    ion-list {
            background-color: rgba(0, 0, 0, 0);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        ion-fab-button {
            margin: 0 15px 15px 0;
            --background: -webkit-radial-gradient(circle, #f5f579, #e9e9a6);
            --background-activated: -webkit-radial-gradient(circle, #c2c299, #afaf7d);
        }
         ion-item {
             
             margin-top: 2px;
            --background: -webkit-linear-gradient(right, #afafafcc, #fffefecc);
         }
         .options {
             margin-top: 2px;
         }
         .count {
             font-weight: 700;
             color: white;
            // -webkit-text-stroke-width: 0.5px;
            // -webkit-text-stroke-color: rgb(250, 164, 164);
            text-shadow: 1px 1px 2px black; 
        }
    .name_of_task::first-letter {
        text-transform: uppercase;
    }
}
// style="background: var(--ion-color-danger);"