<ion-header no-border>
</ion-header>
<ion-content>
  <header>
    <section class="space" id="header-initial" *ngIf="tasks.length < 1">
      <img src="../../assets/img/ilus_tasks.svg" alt="Imagem para quando não houver atividades.">
      <h1>
        Você ainda não tem nenhuma tarefa.
      </h1>
    </section>

    <section class="space" *ngIf="tasks.length != 0">
      <h1>Lista de tarefas:</h1>
    </section>

  </header>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let task of tasks; let i = index">

      <ion-item (click)="changeStatus(task)">
        <ion-label class="name_of_task">{{task.name}}</ion-label>
        <ion-icon *ngIf=!task.done slot="start" name="radio-button-off"></ion-icon>
        <ion-icon *ngIf=task.done slot="start" name="checkmark-circle"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option class="options" (click)="delete(task)" color="dark">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option class="options" (click)="edit(i)" color="dark">
          <ion-icon name="create" mode="md" color="white"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>


    <div class="count" text-center>
      <p *ngIf="tasks.length != 0">Há {{tasks.length}} tarefa(s).</p>
    </div>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAlert()">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>